WIN_DB_SERVER="Your sql service host"

WIN_DB_NAME=HarborstoneInsurance

WIN_DB_DRIVER="ODBC Driver 17 for SQL Server"

WIN_TRUSTED_CONNECTION=yes

TRANSPORT_TYPE=stdio

GROQ_MODEL=openai/gpt-oss-120b
GROQ_API_KEY="your own groq api key"